:root {
    background: linear-gradient(hsl(232, 19%, 15%) 30%, hsl(230, 17%, 14%) 0%);
    color: hsl(0, 0%, 100%);  
}

.socialMediaCard {
    background-color: hsl(228, 28%, 20%);
}

.socialMediaCard:hover {
    background-color: hsl(228, 27%, 19%);
}

.overviewDetails {
    background-color: hsl(228, 28%, 20%);
}

.overviewDetails:hover {
    background-color: hsl(228, 28%, 20%);
}